# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-toml
    -   id: mixed-line-ending # replaces or checks mixed line ending
    -   id: check-symlinks # checks for symlinks which do not point to anything
    -   id: check-added-large-files
    # Git
    -   id: check-merge-conflict # checks for files that contain merge conflict strings
    # Python
    -   id: check-docstring-first # checks a common error of defining a docstring after code
    -   id: debug-statements # checks for debugger imports and py37+ `breakpoint()` calls in python source
-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black
        name: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.1.11'
    hooks:
    -   id: ruff
        args: ["--fix"]
