version: '2'
services:
  redis:
    image: redis
    command: ["redis-server", "--maxmemory", "2048mb", "--maxmemory-policy", "allkeys-lru"]
    networks:
      - app
    restart: always

  ztf-web-viewer-app:
    build: .
    environment:
      - AKB_API_URL=https://akb.ztf.snad.space/
      - LC_API_URL=http://db.ztf.snad.space
      - ZTF_FITS_PROXY_URL=https://fits.ztf.snad.space
      - FEATURES_API_URL=http://features.lc.snad.space
      - OGLE_III_API_URL=http://ogle3.snad.space
      - ZTF_PERIODIC_API_URL=http://periodic.ztf.snad.space
      - TNS_API_URL=http://tns.snad.space
      - VIRTUAL_HOST=ztf.snad.space
      - DYNDNS_HOST=ztf.snad.space
      - LETSENCRYPT_HOST=ztf.snad.space
      - LETSENCRYPT_EMAIL=letsencrypt@snad.space
    networks:
      - app
      - proxy
    depends_on:
      - redis
    restart: always

networks:
  app:
  proxy:
    external:
      name: proxy
