astropy==5.1
astroquery==0.4.6
cachetools==5.0.0
dash==2.5.1
dash_dangerously_set_inner_html==0.0.2
dash_defer_js_import==0.0.2
dustmaps==1.0.10
Flask==2.1.1
immutabledict==2.2.1
Jinja2==3.1.2
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.2
plotly==5.9.0
redis==4.2.2
redis_lru==0.1.2
requests==2.27.1
setuptools==62.1.0
