version: '2'
services:
  redis:
    image: redis:8-alpine
    networks:
      - app
    restart: always

  ztf-web-viewer-app:
    build: .
    entrypoint: ["uvicorn", "ztf_viewer.__main__:app.server", "--host", "0.0.0.0", "--port", "80", "--workers", "1", "--timeout-keep-alive", "75"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    environment:
      - VIRTUAL_HOST=${SUBDOMAIN}.ztf.snad.space
      - DYNDNS_HOST=${SUBDOMAIN}.ztf.snad.space
      - LETSENCRYPT_HOST=${SUBDOMAIN}.ztf.snad.space
      - LETSENCRYPT_EMAIL=letsencrypt@snad.space
    networks:
      - app
      - proxy
    depends_on:
      - redis
    restart: always

networks:
  app:
  proxy:
    external:
      name: proxy
